body{position: relative;
    width: 50px;
    height: 100%;
    
    background: #FFFFFF;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden}

header{position: absolute;
    width: 347px;
    height: 1000px;
    left: 12px;
    top: 12px;
    background: #9747FF
    }

.fondo{position: absolute;
    width: 347px;
    height: 800px;
    left: 12px;
    top: 12px;
    background: #9747FF;
    border-radius: 0px 0px;}


.curriculum{position: absolute;
    width: 242px;
    height: 40px;
    left: 35px;
    top: 270px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #FFFFFF;}

.dat{position: absolute;
    width: 241px;
    height: 27px;
    left: 40px;
    top: 329px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    
    color: #FFFEFE;}


.nom{position: absolute;
    width: 201px;
    height: 21px;
    left: 74px;
    top: 395px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
     color: #FFFFFF;}


.correo{position: absolute;
    width: 234px;
    height: 21px;
    left: 74px;
    top: 430px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;}



.numero{
    position: absolute;
    width: 212px;
    height: 20px;
    left: 74px;
    top: 468px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;}



.pais{position: absolute;
    width: 203px;
    height: 21px;
    left: 74px;
    top: 504px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
     color: #FFFFFF;}


.pagina{position: absolute;
    width: 268px;
    height: 26px;
    left: 74px;
    top: 556px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    color: #FFFFFF;}


section{position: relative;
    width: 268px;
    height: 26px;
    left: 400px;
    top: 100px;}

.des{position: relative;
    width: 1000px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;}

article{position: relative;
    width: 268px;
    height: 26px;
    left: 400px;
    top: 456px;}


