body{position: absolute;
    background-color:#30292F;
    color: #F4FEC1;
  }
  
  
  .boton {
border: 1px solid #2e518b; 
padding: 10px; 
background-color: #81726A; 
color: #ffffff; 
text-decoration: none;
text-transform: uppercase; 
font-family: 'Helvetica', sans-serif; 
border-radius: 50px;
}